[Desktop Entry]
Name=Freeze panel
Name[ca]=guardar panel
Name[en_AU]=Freeze panel
Name[en_GB]=Freeze panel
Name[pt]=Freeze panel
Name[pt_BR]=Freeze panel
Name[pt_PT]=Freeze panel
Comment=Congelar e descongelar o painel do Xfce
Comment[en_AU]=Freeze and unfreeze the panel of Xfce in Debian and derivates
Comment[en_GB]=Freeze and unfreeze the panel of Xfce in Debian and derivates
Comment[pt]=Congelar e descongelar o painel do Xfce
Comment[pt_BR]=Congelar e descongelar o painel do Xfce
Comment[pt_PT]=Congelar e descongelar o painel do Xfce

# Exec=xfce4-terminal -e /usr/bin/duzeru-freezepanel

Exec=xfce4-terminal --title="🔒 Freeze panel - XFCE" -e /usr/bin/freeze-xfce4-panel.sh

Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Settings;DesktopSettings;Utility;
Keywords=Configuration;Menu;User;painel;xfce4-panel;
Icon=duzeru-freezepanel
X-Ubuntu-Gettext-Domain=catalog-commands
