Package: freeze-xfce4-panel
Version: 1.1.1
Architecture: all
Maintainer: Fernando Souza
Original-Maintainer: Claudio A. Silva <https://github.com/claudioduzeru>
Installed-Size: 706.1
Depends: xfce4-terminal (>= 0), xfce4-panel (>= 0), yad (>= 0), sudo (>= 0)
Conflicts: duzeru-freezepanel (>= 0)
Section: accessories
Priority: optional
Homepage: https://github.com/tuxslack/freeze-xfce4-panel
Description: Freeze and unfreeze the Xfce panel on Debian-based systems
 A simple utility to freeze and unfreeze the Xfce panel on Debian and derivative distributions.
 .
 Utilitário simples para congelar e descongelar o painel do Xfce em distribuições baseadas no Debian.

